/*Страцина товаров*****************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}

.slider {
  margin-top: 15px;
  height: 647px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #50ff61;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #50ff61, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.overlay::before {
  content: "";
  z-index: -2;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.slide1 {
  background-image: url("../img/slide1.png");
  height: 100%;
  width: 100%;
}

.slide2 {
  background-image: url("../img/slide2.png");
  height: 100%;
  width: 100%;
}

.slide3 {
  background-image: url("../img/slide3.png");
  height: 100%;
  width: 100%;
}

.slide4 {
  background-image: url("../img/slide4.png");
  height: 100%;
  width: 100%;
}
.slider__contents {
  pointer-events: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__caption {
  pointer-events: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  color: #e8eaec;
  text-transform: uppercase;
  max-width: 900px;
  z-index: 6;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.slider__caption:hover {
  color: #50ff61;
}

.slider__txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #e8eaec;
  margin-bottom: 3rem;
  max-width: 1100px;
  z-index: 6;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.product1 {
  margin-top: 15px;
  height: 647px;
  position: relative;
  overflow: hidden;
}

.product2 {
  margin-top: 15px;
  height: 620px;
  position: relative;
  overflow: hidden;
}

.slide11 {
  pointer-events: none;
  background-image: url("../img/slide1.png");
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide12 {
  pointer-events: none;
  background-image: url("../img/slide2.png");
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide13 {
  pointer-events: none;
  background-image: url("../img/slide3.png");
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide14 {
  pointer-events: none;
  background-image: url("../img/slide4.png");
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide15 {
  pointer-events: none;
  background-image: url("../img/helpintro.png");
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide16 {
  pointer-events: none;
  background-image: url("../img/collection1.png");
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide17 {
  pointer-events: none;
  background-image: url("../img/collection2.png");
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #50ff61;
  margin-bottom: 10px;
}

.product_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 40px;
  max-width: 750px;
  margin-right: 30px;
}

.product_info {
  margin-top: 70px;
  display: flex;
}

.product_buy {
  width: 382px;
  height: 167px;
  background: #e0e2e6;
  border-radius: 10px;
}

.product_buy form {
  margin-left: 35px;
}

.product_buy_text {
  display: flex;
  justify-content: space-around;
}

.product_buy_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #484848;
  padding: 30px;
}

.buy {
  display: flex;
  justify-content: space-around;
}

.product_button {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: #484848;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: white;
}

.product_button:hover {
  color: #50ff61;
  transform: scale(1.05);
}

@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 75vw;
  }

  .intro {
    width: 100%;
    height: 80vw;
  }

  .intro_title {
    margin-top: 20.25vw;
  }

  .intro_text {
    font-size: 17.25vw;
  }

  .intro_subtext1 {
    margin-top: 6.25vw;
    font-size: 5vw;
    line-height: 2.55vw;
  }

  .intro_subtext2 {
    margin-top: 6.25vw;
    font-size: 5vw;
    line-height: 2.55vw;
  }

  #menu {
    margin: -100px 0 0 -90px;
  }

  .radio {
    width: 100px;
  }

  .products_list {
    flex-direction: column;
  }

  .products_item {
    width: 100%;
    height: 70.71vw;
  }

  .products_img {
    height: 50.71vw;
  }

  .products_name {
    padding-top: 1.76vw;
    font-size: 4.89vw;
    line-height: 4.46vw;
  }

  .products_price {
    padding-top: 3.76vw;
    font-size: 4.89vw;
  }

  .btn svg {
    width: 30px;
    height: 20px;
  }

  .help {
    height: 40.8vw;
  }

  .help_title {
    font-size: 7.64vw;
    line-height: 5.7vw;
  }

  .help_subtitle {
    font-size: 4.2vw;
    line-height: 3.28vw;
  }

  .help_button {
    width: 27.45vw;
  }

  .collections_text {
    font-size: 6vw;
  }

  .subscribe {
    justify-content: flex-start;
  }

  .email_button {
    right: 0px;
  }

  .subscribe {
    flex-direction: column;
  }

  .logo_footer {
    display: none;
  }

  .tazer {
    margin-right: 21.6vw;
  }

  .slider__caption {
    font-size: 34px;
    line-height: 28px;
  }

  .slider__txt {
    margin-top: 3rem;
    font-size: 20px;
  }

  .wrapper_cart {
    display: block;
  }

  .main_text {
    line-height: 4.04vw;
  }

  .buttoncart {
    width: 220px;
  }

  .modal-content1 {
    width: 300px;
  }
}
